.PostsContainer {
  position: relative;
  width: 50%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  top: 8vh;
  gap: 5vh;

  overflow-x: hidden;
  overflow-y: auto;
}

.blog-route {
  position: relative;
  display: flex;
  /* max-width: clamp(500px, 38%, 60vw); */
  width: 100%;
  height: fit-content;
  font-family: "Poppins", sans-serif;
}

.blog-route-left,
.blog-route-right {
  display: flex;
  flex-direction: column;

  gap: 0.4em;
}

.blog-route-left {
  flex: 1;
}

.blog-route .blog-route-author-info {
  display: flex;
  align-items: center;
  gap: clamp(10px, 0.75vw, 45px);

  color: var(--author-color);
  font-size: clamp(0.75rem, 0.4vw + 0.5rem, 0.875rem);
  letter-spacing: 0.01em;

  margin-bottom: 1vh;
}

.blog-route .blog-route-author-profile {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.blog-route .blog-route-author-profile img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.blog-route .blog-route-title {
  color: var(--article-title);
  max-width: calc(100% - 2.25em);
  font-size: clamp(1rem, 0.2vw + 0.9rem, 1.125rem);
  font-weight: 600;
  letter-spacing: normal;
}

.blog-route .blog-route-description {
  max-width: 60%;
  color: var(--blog-chip-color);
  font-family: "Noto Serif", serif;
  font-size: clamp(0.65rem, 0.4vw + 0.5rem, 0.875rem);
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.blog-route .blog-route-tags {
  margin-top: 1vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
}

.blog-route-tags .blog-route-tag {
  color: var(--blog-chip-color);
  background: var(--blog-chip-background);

  font-size: clamp(0.5em, 2vw, 0.75em);
  font-weight: 600;
  letter-spacing: normal;

  padding: 0.2em 0.725em;
  border-radius: 2em;
}

.blog-route .blog-route-thumbnail {
  position: relative;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  height: 4.5em;
  width: 4.5em;
}

.blog-route .blog-route-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0.3em;

  font-size: small;
  text-align: center;
  color: var(--author-color);
  background-color: var(--post-img-bg);
}

.blog-route .blog-route-estimated {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  right: 0;
  bottom: 0;

  color: var(--reading-time-text);
  font-size: clamp(0.5em, 2vw, 0.75em);
  font-weight: 600;
  letter-spacing: normal;
}

.blog-route-estimated svg {
  color: var(--reading-time-clock);
  font-size: 0.7em;
}

@media only screen and (max-width: 950px) {
  .PostsContainer {
    width: calc(100% - clamp(0.5em, 0.8vw, 0.7em));
  }
  .blog-route {
    width: 100%;
  }
  .blog-route .blog-route-description {
    max-width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .blog-route-thumbnail {
    max-width: 3.5em;
    max-height: 3.5em;
  }
}
