.pageSplit {
  position: absolute;
  background: var(--page-split-color);
}

/* Horizontal Splits */

.pageSplit.split-position-absolute.left {
  left: 50%;
  transform: translateX(-50%);
  top: -2vh;
}

.pageSplit.split-position-absolute.bottom {
  left: 50%;
  transform: translateX(-50%);
  bottom: -2vh;
}

.pageSplit.top.narrow,
.pageSplit.bottom.narrow {
  width: 50%;
  height: 1px;
}

.pageSplit.top.medium,
.pageSplit.bottom.medium {
  width: 75%;
  height: 1px;
}

.pageSplit.top.large,
.pageSplit.bottom.large {
  width: 100%;
  height: 1px;
}

/* Vertical Splits */
.pageSplit.split-position-absolute.left {
  top: 50%;
  transform: translateY(-50%);
  left: -2vw;
}

.pageSplit.split-position-absolute.right {
  top: 50%;
  transform: translateY(-50%);
  right: -2vw;
}

.pageSplit.left.narrow,
.pageSplit.right.narrow {
  height: 50%;
  width: 1px;
}

.pageSplit.left.medium,
.pageSplit.right.medium {
  height: 75%;
  width: 1px;
}

.pageSplit.none {
  display: none;
}
