.PostsContainer.AllArticles-Flow {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(477px, 1fr));
    column-gap: 0;

    overflow-y: hidden;

}

.PostsContainer.AllArticles-Flow .blog-route {
    width: 90%;
    height: auto;
}

@media only screen and (max-width: 950px)
{
  .PostsContainer.AllArticles-Flow {
      width: 100%;
  }
  .AllArticles-Flow .blog-route {
    width: 100%;
  }
  .AllArticles-Flow .blog-route .blog-route-description {
    max-width: 80%;
  }
}

@media only screen and (max-width: 600px)
{
    .PostsContainer.AllArticles-Flow .blog-route {
        width: calc(100% - 4em);
    }
}

@media only screen and (max-width: 450px) {

    .PostsContainer.AllArticles-Flow {
        width: 100%;
    }

    .PostsContainer.AllArticles-Flow .blog-route {
        width: 67%;
    }
}